@import '../../../Variables';

.single-board-card {
    height: 70px;
    width: 70px;
    margin:0 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transform-style: preserve-3d;
    transition-duration: 0.5s;
    cursor: pointer;
    &:hover {
        transition-duration: 0.3s;
        //transform: scale(1.1);
    }
    &:active {
        box-shadow: 0 5px rgba(0, 0, 0, 0.2);
        transform: translateY(4px);
    }
    img {
            object-fit: contain;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
    }
}

.card-front {
    width: 19px;
    margin: auto;
    transform: rotateY(180deg);
    backface-visibility: visible;
    z-index: 1;
}

.card-back {
    width: 40px;
    margin: auto;
}

.closing {
    animation: flipping 0.8s forwards;
    @keyframes flipping {
        0% {
          transform: rotateY(180deg);
        }
        100% {
          transform: rotateY(0);
        }
    }
}

.open {
    transform: rotateY(180deg);
    animation: rotateAndBlur 1s forwards;
    @keyframes rotateAndBlur {
        0% {
          transform: rotateY(0deg);
        }
        100% {
          transform: rotateY(180deg);
        }
    }
}

@media screen and (min-width: 410px) {
    .single-board-card {
        margin:0 2.2%;
    }
}

@media screen and (min-width: 496px) {
    .single-board-card {
        margin:0 2.7%;
    }
}

@media screen and (min-width: 532px) {
    .single-board-card {
        width: 80px;
        margin:0 3%;


    }
    .card-front {
        width: 23px;
    }
    .card-back {
        width: 55px;
    }
}

@media screen and (min-width: 632px) {
    .single-board-card {
        width: 85px;
    }
}

@media screen and (min-width: 1024px) {
    .single-board-card {
        width: 100px;
    }
}