@import '../../Variables';

.navbar-body {
    height: 13vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: $third-color;
    border: none;
    font-family: $secondary-font-family;
    font-weight: 900;
    img {     
        width: 65px;
        height: 65px;
        position: absolute;
        top: 12px;
        left: 15px;
        backface-visibility: hidden;
        cursor: pointer;
    }
    .navbar-title {
        width: 100%;
        text-align: center;
        padding-left: 25px;
        h1 {
            width: 70%;
            font-size: 45px;
            margin: 0%;
            margin-left: 15%;
            cursor:pointer;
            &:hover {
                transition-duration: 0.3s;
                transform: scale(1.1);
            }
        }
    }
    .navbar-burger{
        display: none;
    }
    .navbar-links {
        display: none
    }
}

@media screen and (min-width: 768px) {
    .navbar-body {
      .navbar-burger {
          display: block;
      }
    }
  }

@media screen and (min-width: 1024px) {

    .navbar-body {
        .navbar-title {
            width: 33%;
            h1 {
                font-size: 50px;
            }
        }
        .navbar-burger{
            display: none;
        }
        .navbar-links {
            display: flex;
            justify-content: flex-start;
            input {
                color: $third-color;
                background-color: $primary-color;
                font-family: $primary-font-family;
                font-size: 35px;
                font-weight: bolder;
                background: transparent;
                border: none;
                margin: 0 30px;
                padding: 0;
                outline: none;
                cursor: pointer;
                &:hover {
                    transition-duration: 0.4s;
                    transform: scale(1.3);
                }
            }
        }
    }
}