@import '../../Variables';

.navbar-body {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $primary-color;
    color: $third-color;
    border: none;
    font-family: $secondary-font-family;
    font-weight: 900;
    img {
        width: 50px;
        padding-left: 5%;
    }
    h1 {
        padding-left: 10%;
        font-size: 45px;
    }
}