@import '../../Variables';

.footer-container {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $fourth-color;
    box-shadow: -60px -3px $primary-color;
    border-top-left-radius: 10px;
    .footer-button {
        height: 100%;
        background-color: $fourth-color;
        color:$third-color;
        font-family: $primary-font-family;
        font-size: 26px;
        font-weight: bolder;
        border: outset 5px rgba(255, 255, 255, 0.11);
        border-top-left-radius: 10px;
        &:first-child {
            width: 52%;
            padding-right: 9%;
            &:active {
                box-shadow: 0 5px rgba(0, 0, 0, 0.2);
                transform: translateY(4px);
            }
        }
        &:nth-child(2) {
            height: 13vh;
            width: 30vw;
            position: absolute;
            left:35%;
            bottom: 3%;
            border-radius: 50%;
            &:active {
                box-shadow: 0 5px rgba(0, 0, 0, 0.2);
                transform: translateY(4px);
            }
        }
    }
    .burger-menu-footer {
        width: 50%;
        background-color: $fourth-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: outset 5px rgba(255, 255, 255, 0.11);
        border-top-right-radius: 10px;
        box-shadow: 5px -59px $primary-color;
        &:active {
            box-shadow: 0 5px rgba(0, 0, 0, 0.2);
            transform: translateY(4px);
        }
    }
}