@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

$primary-color: #24445c;
$secondary-color: #6e0b14;
$third-color: #ffffd4;
$fourth-color: #292929;
$primary-font-family: 'Patrick Hand SC';
$secondary-font-family: 'Patrick Hand SC';